body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align:center;
}
.output {
    padding: 12px 20px;
    width:50%;
    color:green;
    border:2px solid green;
    height: 75px;
    resize:none;
}