#searchBar {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #36393f;
  background-color: #202225;
  color:#dcddde;
}

#subpageList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #36393f;
}

#subpageList li a {
  padding: 12px;
  text-decoration: none;
  color: #dcddde;
  display: block;
}

#subpageList li a:hover {
  background-color: #565b65;
}