@import url('https://fonts.googleapis.com/css?family=Acme|Montserrat');

body {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FBFBFB;
    color: #444444;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Acme', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    max-width: 1400px;
}

.main-bg-color {
    background-color: #e7e7e7;
}

.game-list-item {
    margin-left: 7px;
    margin-right: 7px;
    width: 200px;
}

.game-list-item .game-img {
    width: 200px;
    height: 170px;
}

.game-list-item .game-name {

}

.google-ads {
    margin: 0 auto;
    text-align: center;
}

.google-ads1 {
    margin: 5px;
    width: 336px;
    height: 280px;
    display: inline-block;
}

.google-ads2 {
    margin: 5px;
    width: 336px;
    height: 280px;
    display: inline-block;
}

.google-ads-type-2 {
    margin: 0 auto;
    text-align: center;
    width: 970px;
    height: auto;
    display: inline-block;
}

.google-ads-type-2-banner {
    max-width: 970px;
    height: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

}

.cpmstar-bottom {
    max-width: 300px;
    height: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
    .cpm_right {
        display: none;
    }
}


@media screen and (max-width: 800px) {
    .google-ads1 {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .google-ads2 {
        display: none;
    }


    .google-ads-type-2 {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: auto;
        display: inline-block;
    }

    .google-ads-type-2-banner {
        width: 300px;
        height: auto;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;

    }

    .cpm_left {
        display: none;
    }
}